.AnimeCard {
  position: relative;
  height: 300px;
  aspect-ratio: 26/37;
}

.AnimeCard-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.AnimeCard>.AnimeCard-cover {
  border-radius: 8px;
}

.AnimeCard-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 350px;
  aspect-ratio: 3/3.5;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: var(--ant-color-bg-container);
  z-index: 10;
}

.AnimeCard-cover-container {
  height: 80%;
  position: relative;
}

.AnimeCard-cover-container>.AnimeCard-cover {
  border-radius: 8px 8px 0 0;
}

.AnimeCard-hover-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 30;
}

.AnimeCard-cover-gradient {
  position: absolute;
  background: linear-gradient(#0000, #000f);
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 0;
  left: 0;
}

.AnimeCard-hover-controls {
  padding: 10px;
}

.AnimeCard-hover-controls-btn {
  border-radius: 50%;
  padding: 20px;
}
